<div class="card card-default post-panel post-form-panel">
  <div class="card-body row">

    <div class="col-sm-">
      <img src="/avatar.png" class="rounded-img" height="30px" width="35px"></img>
    </div>

    <div class="col-sm">
    <%= form_for(@newPost) do |f| %>

<center>
  <div class="field" style="margin-left: 10px">
     <%= f.text_field :content, autofocus: true, class: "form-control" %>  
     <span type="button" class="btn btn-submit" style="float: right; margin-top: 3px;"><%= f.submit "Add Post", class: "btn btn-primary" %></%=>
  </div>
  
</center>
<% end %>
    </div>

  </div>

</div>
