
<div class="row">
    <div class="col-sm">
        <div class="card">
            <div class="card-body">
                <div class="card-image hide-card-body"><img src="/banner.jpg"></div>
            </div>
            <div class="card">
                <div class="card-body">
                    <p>Trends for you</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <%= render 'components/post_form' %> <br><br>

        <% for @p in @posts %>
        <div class="card card-default post-panel">
            <div class="card-body row">

                <div class="col-sm-">
                    <img src="/avatar.png" class="rounded-img"height="50px" width="50px"></img>
                </div>

                <div class="col-sm">
                    <p class="post-title"><span class="post-owner"><%= User.find(@p.user_id).username %></span> <span
                            class="post-creation">- <%= @p.created_at.to_formatted_s(:short) %></span></p>
                    <p class="post-content"><%= @p.content %></p>
                </div>

            </div>
            <div class="col-sm">
                <p class="post-links">
                    <span class="glyphicon glyphicon-comment g-links" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-retweet g-links" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-heart g-links" aria-hidden="true"></span>
                    <span class="glyphicon-minus g-links" aria-hidden="true"></span>
                    <a href="">View Media</a>
                </p>
            </div>
        </div>
      
        <% end %>
              <div class="card card-default post-panel">
            <div class="card-body row">
            <div class="col-sm">
            <center><img src="ror.png" height="25px" width="25px"></img></center>
            <center><a href="#top"><p class="opacity: .7; color: grey;">Back to Top<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></p></a></center>
            </div>
        </div>
    </div>
      </div>

    <div class="col-sm">
        <div class="card">
            <div class="card-body">
                <p style="opacity: 0.5; font-size: 85%;"> © 2019 Twitter, Inc.  Terms  Privacy  policy  Cookies  Ads  info  More</p>
            </div>
        </div>
    </div>
</div>
