<div class="row">
    <div class="col-sm">
        <div class="card">
            <div class="card-body">
                <p>stats</p>
            </div>
            <div class="card">
                <div class="card-body">
                    <p>Trends for you</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <%= render 'components/post_form' %> <br><br>

        <% for @p in @posts %>
        <div class="card post-panel">
            <div class="card-body">
            <div class="col-sm-3">
                AVATAR
            </div>
            <div class="col-sm-11">
                CONTENT
            </div>
              <div class="col-sm-12">
                Links
            </div>
                <p><%= @p.content %></p>
            </div>
        </div>
        <% end %>
    </div>
    <div class="col-sm">
        <div class="card">
            <div class="card-body">
                <p>about</p>
            </div>
        </div>
    </div>
</div>

<%# 2nd col (trending) %>
<%# <div class="row">
        <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <p>Trends for you</p>
            </div>
        </div>
    </div>
</div> %>
